#header {
	background-color: #59d5ff;
}

h1 {
	font-family: 'big caslon';
	font-size: 2.0em;
}

#header li {
	font-family: 'big caslon';
	font-size: 1.1em;
	text-align: center;
	display: inline;
}

.slidee img.banner {
	display: block;
	margin: 0px auto;
	height: 300px;
}

.about {
	background-color: #59d5ff;
}

.newsletter {
	background-color: #59d5ff;
}

.newsletter li {
	font-family: 'big caslon';
}

#bottom {
	text-align: center;
	display:inline;
}